.annonces h1{
    color : white;
    text-decoration: underline;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.annonces{
    background-color: #88A3ED;
}

body{
    background-color : #88A3ED;
}

.ann{
    padding : 10px;
}